.palette {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

.swatch {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  flex: 1;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3rem;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px var(--darker);
  transition: all 0.2s;
}

.swatch:hover {
  filter: brightness(1.1);
}

.swatch span {
  background: var(--dark);
  border-top-left-radius: 5px;
  bottom: 0;
  color: var(--text);
  padding: 0.25em 0.7em;
  position: absolute;
  right: 0;
}

@media (max-width: 700px) {
  .palette {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .palette {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
}
