.header {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background: var(--darker) no-repeat center fixed;
  background-size: 90%;
  color: var(--text);
  text-align: center;
  overflow: hidden;
}

.header::after {
  content: '';
  background: linear-gradient(transparent 30%, var(--dark) 78%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header h1 {
  font-size: 3rem;
  color: var(--light);
  margin: 0;
  z-index: 1;
}

.header div {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.header img {
  max-width: 90vw;
  height: auto;
}

.header iframe {
  position: absolute;
  border: 0;
  bottom: -1rem;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
}

.productName {
  text-align: right;
  padding: 2rem;
  color: var(--other);
  padding: 1rem;
  border-radius: 5px;
}

.content {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 1;
}

.cta a {
  padding: 1rem;
  border-radius: 5px;
  width: 10rem;
  display: inline-block;
  font-weight: bold;
  margin-left: 1rem;
}

.ctaBtn {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--blue);
  color: var(--blue);
  transition: all 0.2s;
}

.ctaBtn:hover {
  border-color: var(--cyan);
  color: var(--cyan);
}

.ctaMain {
  background: var(--blue);
  border: 2px solid var(--blue);
  color: var(--dark);
  transition: all 0.2s;
}

.ctaMain:hover {
  background: var(--cyan);
  border: 2px solid var(--cyan);
}

@media (max-width: 700px) {
  .header h1 {
    font-size: 8vw;
  }

  .header p {
    font-size: 0.9rem;
  }

  .header img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    right: 0;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .cta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .cta a {
    margin-left: 0;
    width: 8rem;
    padding: 0.5rem;
  }
}
