.header {
  align-items: center;
  background: var(--darker) no-repeat center fixed;
  background-size: 90%;
  color: var(--text);
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  text-align: center;
}

.header::after {
  background: linear-gradient(transparent 30%, var(--dark) 78%);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.header h1 {
  color: var(--light);
  font-size: 6vw;
  margin: 0;
  z-index: 1;
}

.header div {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.header p {
  color: var(--light);
  font-weight: bold;
  padding: 0 0 1rem;
}

.header img {
  max-width: 90vw;
  height: auto;
}

.header iframe {
  border: 0;
  bottom: -1rem;
  left: 55%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1;
}

.productName {
  border-radius: 5px;
  color: var(--other);
  padding: 1rem;
  padding: 2rem;
  text-align: right;
}

.content {
  bottom: 12.5%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}
.cta {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 20em;
}

.cta a {
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem;
  width: 10rem;
}

.ctaBtn {
  border: 2px solid var(--blue);
  color: var(--blue);
  transition: all 0.2s;
}

.ctaBtn:hover {
  border-color: var(--cyan);
  color: var(--cyan);
}

.ctaMain {
  background: var(--blue);
  border: 2px solid var(--blue);
  color: var(--dark);
  transition: all 0.2s;
}

.ctaMain:hover {
  background: var(--cyan);
  border: 2px solid var(--cyan);
}

@media (max-width: 700px) {
  .header h1 {
    font-size: 8vw;
  }

  .header p {
    font-size: 0.9rem;
  }

  .header img {
    bottom: 0;
    left: 50%;
    position: absolute;
    right: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100vw;
  }

  .cta {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
  }

  .cta a {
    margin-left: 0;
    padding: 0.5rem;
    width: 8rem;
  }
}
