.header {
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background: var(--darker);
  color: var(--text);
  text-align: center;
  overflow: hidden;
}

.header h1 {
  font-size: 3rem;
  color: var(--light);
  margin: 0;
}

.header div {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.header img {
  height: auto;
}

.productName {
  text-align: right;
  padding: 2rem;
  color: var(--other);
}
