.languages {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.language {
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2rem;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px var(--darker);
  transition: all 0.2s;
}

.language:hover {
  filter: brightness(0.7);
}

.language img {
  filter: invert(1);
  width: 100%;
}

.language span {
  border-top-left-radius: 5px;
  bottom: 0;
  color: var(--text);
  left: 0;
  opacity: 0.7;
  position: absolute;
  right: 0;
}

@media (max-width: 600px) {
  .languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .languages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
  }
}
