.navigation {
  background: var(--darker);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navigation h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navigation ul {
  list-style: none;
  margin: 0;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  padding: 1rem;
  font-weight: bold;
}

.brand img {
  float: left;
  margin-top: 0.2rem;
  width: 1em;
}

@media (max-width: 600px) {
  .navigation ul {
    display: none;
  }
}
