.navigation {
  align-items: center;
  background: var(--darker);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navigation h1 {
  font-size: 1.5rem;
  margin: 0;
}

.navigation ul {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  font-weight: bold;
  padding: 1rem;
}

.navigation button {
  background: transparent;
  color: var(--light);
  cursor: pointer;
  float: right;
  outline: none;
}

.navigation button img {
  width: 1.2rem;
}

.brand img {
  float: left;
  margin-top: 0.2rem;
  width: 1em;
}

.options {
  margin-left: auto;
}

.languageButton {
  border: 3px solid var(--light);
  font-weight: bold;
  text-transform: uppercase;
}

.themeButton {
  border: 0;
}

@media (max-width: 600px) {
  .navigation ul {
    display: none;
  }
}
